*{
    front-family: sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;   
}
body{
    min-height: 100vh;
    background-image: url("background.photo/image.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
form{
    background: #989898ce;
    width:  380px;
    height: 480px;
    padding: 75px 50px;
    position: relative;
    left: 50%;
    top: 50%;
}